.default-page {
  $self: &;

  &--home {
    display: flex;
    position: relative;
    justify-content: center;
    background: url('@/assets/images/pages/home/blue_bg.jpg') 0 0/100% 100% no-repeat;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      background-position: 0 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      pointer-events: none;
    }

    &::before {
      width: 100%;
      height: 100%;
      background-image: url('@/assets/images/pages/home/blue_gradient_bg.png');
    }

    &::after {
      width: em(980, $fz);
      height: em(626, $fz);
      background-image: url('@/assets/images/pages/home/human.png');
    }
  }

  &__wrapper {
    margin-top: em(210, $fz);
    position: relative;
  }

  &__title {
    $fz: 34;
    color: #fff;
    font-weight: 500;
    line-height: 1.1;
    font-family: Inter, sans-serif;
    font-size: em($fz, $fz_base);
    text-align: center;
    margin-bottom: em(14, $fz);
  }

  &__slogan {
    $fz: 16;
    color: #fff;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: em($fz, $fz_base);
    margin-bottom: em(50, $fz);
  }
}

.default-page-nav,
.default-page-title {
  display: flex;
  flex-direction: column;
}

.default-page-nav {
  align-items: center;
}

.default-page-nav {
  &__link {
    $fz: 16;
    font-size: em($fz, $fz_base);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-weight: 500;
    border-radius: em(5, $fz);
    color: #fff;
    text-decoration: none;
    font-family: Inter, sans-serif;
    outline: none;

    &--login {
      height: em(50, $fz);
      padding: em(10 15, $fz);
      background-color: #3159f8;
      min-width: em(350, $fz);
      margin-bottom: em(15, $fz);

      &:hover {
        background-color: #2b54f7;
      }
    }

    &--registration {
      &:hover {
        color: #ebd042;
      }
    }
  }
}
