@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:
    local('Inter'),
    url('@/assets/fonts/Inter/Inter-Regular.woff2') format('woff2'),
    url('@/assets/fonts/Inter/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src:
    local('Inter'),
    url('@/assets/fonts/Inter/Inter-Medium.woff2') format('woff2'),
    url('@/assets/fonts/Inter/Inter-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src:
          local('Inter'),
          url('@/assets/fonts/Inter/Inter-Bold.woff2') format('woff2'),
          url('@/assets/fonts/Inter/Inter-Bold.woff') format('woff');
}
