#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.auth-page,
.default-page,
.tracker-page {
  flex: 1;
  display: block;
  min-height: 100vh;
}

.app-fade-enter-active {
  animation: appFade 0.2s;
}

.app-fade-leave-active {
  animation: appFade 0.2s reverse;
}
